<article class="post-card">
  {{ if .Params.image }}
    <a href="{{ .Permalink }}" class="card-img-wrapper">
      {{ $image := .Resources.GetMatch .Params.image }}
      {{ if $image }}
        <img
          src="{{ $image.RelPermalink }}"
          class="card-img-top"
          alt="{{ .Title }}" />
      {{ else }}
        <img
          src="{{ .Params.image | absURL }}"
          class="card-img-top"
          alt="{{ .Title }}" />
      {{ end }}
    </a>
  {{ end }}


  <div class="card-body p-4">
    <div class="card-meta mb-2">
      <time datetime="{{ .Date.Format "2006-01-02" }}" class="meta-item">
        <i class="far fa-calendar-alt me-1"></i>
        {{ .Date.Format "January 2, 2006" }}
      </time>
      {{ if .Params.author }}
        <span class="ms-3 meta-item">
          <i class="far fa-user me-1"></i>
          {{ .Params.author }}
        </span>
      {{ end }}
    </div>

    <h3 class="card-title mb-3">
      <a href="{{ .Permalink }}" class="stretched-link">
        {{ .Title }}
      </a>
    </h3>

    <p class="card-text">
      {{ .Summary | truncate 150 }}
    </p>

    <div class="card-tags mb-3">
      {{ range .Params.categories }}
        <a
          href="{{ "categories/" | relURL }}{{ . | urlize }}"
          class="badge badge-category me-2">
          {{ . }}
        </a>
      {{ end }}
      {{ range first 3 (default (slice) .Params.tags) }}
        <a
          href="{{ "tags/" | relURL }}{{ . | urlize }}"
          class="badge badge-tag me-2">
          #{{ . }}
        </a>
      {{ end }}
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <a href="{{ .Permalink }}" class="read-more">
        Read More
        <i class="fas fa-arrow-right ms-1"></i>
      </a>
      <span class="reading-time">{{ .ReadingTime }} min read</span>
    </div>
  </div>
</article>
