<div class="social-share mt-5 pt-4" style="border-top: 1px solid #2a3138;">
  <h5 class="mb-3" style="color: #fab741;">Share this post</h5>
  <div class="d-flex gap-3">
    <a
      href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}"
      target="_blank"
      class="btn btn-outline-primary btn-sm">
      <i class="fab fa-twitter me-2"></i>
      Twitter
    </a>
    <a
      href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}"
      target="_blank"
      class="btn btn-outline-primary btn-sm">
      <i class="fab fa-linkedin me-2"></i>
      LinkedIn
    </a>
    <a
      href="https://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}"
      target="_blank"
      class="btn btn-outline-primary btn-sm">
      <i class="fab fa-reddit me-2"></i>
      Reddit
    </a>
    <button
      onclick="copyToClipboard('{{ .Permalink }}')"
      class="btn btn-outline-primary btn-sm">
      <i class="fas fa-link me-2"></i>
      Copy Link
    </button>
  </div>
</div>

<script>
  function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(function () {
      alert('Link copied to clipboard!');
    });
  }
</script>
